---
layout: default
tagline: Supporting tagline
---

{% include JB/setup %}
<ul id="post-list">
	<li class="post text">
		<div class="body">
			<center>
<img src="http://pic.yupoo.com/24plus/CEqkEvID/medish.jpg" title="Joshua" alt="Joshua"/>
</center>
<p>
<p></p>
Hi, 我是七弦，英文名joshua, 87年天蝎座码农一枚，湖北阳新人。2012年3月毕业于华中科技大学计算机系统结构专业，现就职于腾讯公司。</p>
<p>
喜好：摄影 | 摇滚(英伦、重金属、朋克、后摇、乡村) | 爬山 | 历史 | 诗词 | 乒乓 | 设计 | 建筑</p>
<p>
喜欢的人物：Woody Allen, Kurt Coban, Noal Gallager, Christ Martin.</p>

<p>
我的Twitter: @szjoshua</p>
<p>
我的豆瓣：http://www.douban.com/people/joshualeung/</p>
<p>
我的又拍: http://24plus.yupoo.com</p>
<p>
我的Flickr: http://www.flickr.com/wyk-joshua/</p>
<p>
我的500px: http://500px.com/joshualeung</p>
<p>
我的Github: http://joshualeung.github.com</p>
		</div>
	</li>
</ul>
{% include JB/comments %}

